* {
  font-family: 'Raleway', Raleway, Arial, Helvetica, sans-serif;
}

p {
  font-size: 0.8rem;
  font-weight: 200;
}

h1 {
  font-size: 1.1rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

ul {
  font-size: 0.9rem;
  font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: block;
}

/***********************************************HEADER*****************************************/
#container-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 40px;
}
#main-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: 500;
}
#logo img {
  width: 27%;
  margin: 30px 0 20px 0;
  padding: 0;
}
nav ul {
    list-style-type: none;
    display:  flex;
}
#main-nav a {
  padding: 0 25px;
}
#main-nav a:hover {
  color: #0065FC;
  border-top: 2.5px #0065FC solid;
  padding-top: 30px;
}

/******************************************SEARCH**********************************************/
#container-search {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
#intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/************SEARCHBOX******************************/
#searchbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#searchbox .fa-location-dot {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  padding: 13px;
}
#search-form {
  color: #F2F2F2;
}
input {
  height: 44px;
  border: 2px solid #F2F2F2;
  outline: none;
  font-weight: bold;
  padding-left: 10px;
}
input::placeholder {
  font-weight: bold;
}
label {
  display: none;
  border: solid 1px #F2F2F2;
  padding: 13px 60px 13px 13px;
  font-weight: bold;
  color: black;
}
#search-btn {
  background-color: #0065FC;
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 12.5px;
  border: 2px solid #0065FC;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#loupe {
  display: none;
}

/**********FILTERS**********************/
#filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#filters i {
  color: #0065FC;
  background-color: #DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  line-height: 18px;
  position: relative;
  right: 5px;
}
.filters-item {
  display: flex;
  align-items: center;
  border: 2.5px solid #F2F2F2;
  border-radius: 25px;
  padding: 0.5px 5px 1px 1px;
  cursor: pointer;
}
.filters-item p {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 10px 0 0;
  margin: 7px;
}
.filters-item i {
  align-items: flex-end;
}
#filters h3 {
  font-size: 0.9rem;
  margin-right: 10px;
}

/***CLICK EFFECT***/
#filters i:hover {
  color: pink;
}
.filters-item:hover {
  position: relative;
  bottom: 3px;
  box-shadow: 3px 3px 10px gainsboro;
}

/*******************INFO*************************/
#info {
  display: flex;
  align-items: baseline;
}
#info i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  font-size: 12px;
  font-weight: 700;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  line-height: 2px;
  align-self: baseline;
}
#info p {
  display: flex;
  margin-left: 6px;
}

/**********************************************HOTELS*****************************************/
#container-all-hotels {
  margin: 0 40px;
  display: flex;
  gap: 30px;
  min-height: 100%;
}
#hotels-Marseille, #hotels-popular {
  background-color: #F2F2F2;
  border-radius: 15px;
}
#hotels-Marseille {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  padding: 20px;
}
#hotels-popular {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1 1 25%;
  padding: 20px;
}
#more {
  font-size: 0.9rem;
  font-weight: 600;
  color:#000000;
  margin-top: auto;
  padding: 20px;
}

/*****************MARSEILLE********************/
.results-Marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 25px;
  margin: 20px;
}
.link-Marseille {
  width: 30%;
  display: flex;
  flex: 1 1 30%;
  aspect-ratio: 4/3;
}
.card-Marseille {
  width: 100%;
  aspect-ratio: 4/3;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px gainsboro;
  display: flex;
  flex-direction: column;
}
.img-Marseille {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  box-sizing: border-box;
}
.picture-Marseille {
  height: 60%;
}
.text-Marseille {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  flex: 1 1 40%;
}
.card-Marseille h3, .card-Marseille p {
  margin: 0;
  padding: 2px;
  padding-left: 15px;
}
#hotels-Marseille h2 {
  margin-left: 25px;
  margin-top: 15px;
}

/********************************************MOST POPULAR*************************************/
.title-popular {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.title-popular h2 {
  padding-left: 10px;
  margin-top: 15px;
}
.results-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px 0;
  height: 100%;
}
.link-popular {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 40%;
}
.card-popular {
  display: flex;
  width: 100%;
  aspect-ratio: 3/1;
}
.picture-popular {
  width: 33%;
}
.img-popular {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 15px 0 0 15px;
}
.text-popular {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.text-popular .stars-popular {
  margin-top: auto;
  padding-bottom: 15px;
}
.text-popular h3, .text-popular p {
  margin: 0;
  padding: 10px 0 0 15px;
}

/************LIENS*************/
a {
  text-decoration: none;
  color: initial;
}
ul {
  list-style-type: none;
}
a:visited {
  color: #000000;
}

/*****CLICK EFFECT*****/
.link-Marseille:hover, .link-popular:hover {
  opacity: 0.7;
}
.link-activities:hover, .link-activities-2:hover, .link-activities-3:hover, .link-activities-4:hover, .link-activities-5:hover {
  opacity: 0.7;
}

/********************STARS********************/
.fa-star {
  color: #0065FC;
}
.rating {
  color: #DBDBDB;
}
.title {
  color: black;
  padding-right: 20px;
}

/**********************************************ACTIVITIES**************************************/
#activities {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
}
#results-activities {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
  margin-top: 20px;
  min-height: 100%;
}
.link-activities {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  height: 400px;
}
.card-activities {
  width: 100%;
  height: 100%;
}
.img-activities {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 87%;
}
#activities h3 {
  padding-left: 10px;
  margin-bottom: auto;
  margin-top: 15px;
}

/***DUO***/
.duo-card-activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 25%;
  gap: 30px;
  height: 400px;
}
.duo-card-activities .img-activities {
  height: 75%;
  object-fit: cover;
  width: 100%;
}
.link-activities-2 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  height: 220px;
}

.card-activities-2 .img-activities {
  height: 75%;
}
.link-activities-3 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  height: 100px;
}

.card-activities-3 .img-activities {
  height: 65%;
  width: 100%;
  object-fit: cover;
}
.link-activities-4 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  height: 100px;
}

.card-activities-2,
.card-activities-3,
.card-activities-4,
.card-activities-5 {
  width: 100%;
}

.card-activities-4 .img-activities {
  height: 65%;
}
.link-activities-5 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  height: 210px;
}

.card-activities-5 .img-activities {
  height: 76%;
}

/************************************************FOOTER*****************************************/
footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
}
.footerblock {
  padding: 40px;
  flex-basis: 30%;
}
.footerblock h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 20px;
}
footer ul {
  font-size: 13px;
  font-weight: 200;
}
footer li {
  margin-bottom: 10px;
}

/******* MEDIA QUERY *******/
/*deskstop*/

/*
@media screen and (max-width:1024px) {
  .text-Marseille h3, .text-Marseille p {
    font-size: 0.7rem;
  }
}
*/

/*medium devices-tablets*/
@media screen and (max-width:992px) {
  #filters {
    width: 100%;
  }
  #results-activities h3 {
    margin-top: 3px;
  }
}

/*small devices-iphone8*/
@media screen and (max-width:768px) {

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  h3, p, ul {
    font-size: 1rem;
  }
  #filters h3 {
    font-size: 1.1rem;
  }

  /*header*/
  #container-header {
    flex-direction: column;
    margin: 0;
  }
  #logo {
    margin: auto;
    width: 25%;
  }
  #logo img {
    width: 100%;
  }
  #main-nav {
    margin: 10px 0 30px 0;
  }
  #main-nav ul {
    padding-left: 0;
    margin-top: 0;
    width: 100%;
  }
  #main-nav li {
    display: flex;
    flex: 1 1 50%;
  }
  #main-nav a {
    display: flex;
    flex: 50%;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    padding: 0;
    height: 100%;
    padding-bottom: 10px;
  }
  #main-nav a:hover {
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  /*intro*/
  #intro {
    margin-right: 10px;
  }

  /*search*/
  #container-search {
    margin: 0 30px 30px 30px;
    gap: 20px;
  }
  #search-btn {
    font-size: 0.8rem;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    right: 10px;
  }
  #btn-rechercher {
    display: none;
  }
  .icon-search {
    display: inline;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 13px;
  }
  #searchbox {
    margin: 0 auto;
  }
  #loupe {
    display: inline;
  }
  #city {
    padding-left: 35px;
  }

  /*filters*/
  #filters {
    flex-wrap: wrap;
    gap: 10px;
  }
  #filters h3 {
    width: 100%;
  }
  #filters i {
    width: 50px;
    height: 50px;
    padding: 15px;
    right:10px;
  }

  /**all hotels**/
  #container-all-hotels {
    flex-direction: column-reverse;
    margin: 0;
  }
  #hotels-Marseille, #hotels-popular {
    border-radius: 0;
  }
  #hotels-popular {
    padding: 0;
  }

  /*Marseille*/
  #hotels-Marseille h2 {
    margin-left: 0;
  }
  #hotels-Marseille {
    background-color: transparent;
  }
  .results-Marseille {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
    height: 1400px;
    margin-top: 20px;
  }
  .link-Marseille {
    width: 100%;
    height: 200px;
  }
  #more {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 25px;
    padding: 0;
  }
  .card-Marseille .stars {
    font-size: 0.8rem;
    padding-top: 10px;
  }
  /*popular*/
  .title {
    font-size: 1.3rem;
  }
  .title-popular h2 {
    padding: 30px 0 0 30px;
    margin: 0;
    font-weight: 600;
  }
  #results-popular {
    padding: 30px 0;
  }
  
  /*activities*/
  #activities {
    margin: 40px 20px;
  }
  #results-activities {
    flex-direction: column;
    height: 1360px;
    margin-top: 20px;
  }
  .duo-card-activities {
    flex-basis: auto;
    margin-bottom: 30px;
  }
  .link-activities, .link-activities-2, .link-activities-3, .link-activities-4, .link-activities-5 {
    height: 200px;
  }

  /*images*/
  .card-activities .img-activities {
    height: 70%;
  }
  .card-activities-2 .img-activities {
    height: 70%;
  }
  .card-activities-3 .img-activities {
    height: 70%;
  }
  .card-activities-4 .img-activities {
    height: 70%;
  }
  .card-activities-5 .img-activities {
    height: 70%;
  }
  .card-activities-6 .img-activities {
    height: 70%;
  }

  #results-activities h3 {
    margin-top: 15px;
    padding-left: 15px;
  }
  
  /*footer*/
  footer {
    flex-direction: column;
  }
  footer h3 {
    font-size: 1.1rem;
  }
  footer a {
    font-size: 1rem;
  }
  .footerblock {
    padding-bottom: 0;
  }
}