/*****************************************FONTS, POLICE**************************************/

* {
  font-family: 'Raleway', Raleway, Arial, Helvetica, sans-serif;
}

p {
  font-size: 0.8rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

ul {
  color: black;
  font-size: 0.9rem;
}


/*
@media screen and (max-width: 1280px) {
    /* Rédigez vos propriétés CSS ici */

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: block;
}

/***********************************************HEADER*****************************************/

#container-header {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

#main-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: 500;
}

#logo img {
  width: 27%;
  margin: 30px 0 20px 0;
  padding: 0;
}

nav ul {
    list-style-type: none;
    display:  flex;
}

#main-nav a {
  color:#878787;
  padding: 0 25px;
}

#main-nav a:hover {
  color: #0065FC;
  border-top: 2.5px #0065FC solid;
  padding-top: 30px;
}

/******************************************SEARCH**********************************************/

#container-search {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
}

#intro {
  display: flex;
  flex-direction: column;
}

#intro h1 {
  margin-bottom: 0.5%;
}

#intro p {
  margin-top: 3px;
}

/************SEARCHBOX******************************/


#searchbox {
  display: flex;
  align-items: center;
}

#searchbox i {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding: 13px;
}

#search-form {
  color: #F2F2F2;
}

input {
  height: 38px;
  border: 2px solid #F2F2F2;
  outline: none;
  font-weight: bold;
  padding-left: 5%;
}

input::placeholder {
  font-weight: bold;
}

label {
  display: none;
  border: solid 1px #F2F2F2;
  padding: 13px 60px 13px 13px;
  font-weight: bold;
  color: black;
}

#search-btn {
  background-color: #0065FC;
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 12.5px;
  border: 2px solid #0065FC;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/**********FILTERS**********************/

#filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#filters i {
  color: #0065FC;
  background-color: #DEEBFF;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  line-height: 18px;
  position: relative;
  right: 10px;
}

.filters-item {
  display: flex;
  align-items: center;
  border: 2.5px solid #F2F2F2;
  border-radius: 25px;
  padding: 0.5px 15px 1px 1px;
  cursor: pointer;
}

.filters-item p {
  font-weight: bold;
  color: black;
}

.filters-item i {
  align-items: flex-end;
}

/***CLICK EFFECT***/

#filters i:hover {
  color: pink;
}

.filters-item:hover {
  position: relative;
  bottom: 3px;
  box-shadow: 3px 3px 10px gainsboro;
}

/*******************INFO*************************/

#info {
  display: flex;
  align-items: baseline;
}

#info i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  font-size: 10px;
  font-weight: 700;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  line-height: 2px;
  align-self: baseline;
}

#info p {
  display: flex;
  margin-left: 6px;
  align-items: flex-end;
  margin-bottom: 30px;
}

/**********************************************HOTELS*****************************************/

#container-all-hotels {
  margin: 0 40px;
  display: flex;
  gap: 3%;
  min-height: 100%;
}

#hotels-Marseille, #hotels-most-popular {
  background-color: #F2F2F2;
  border-radius: 15px;
}

#hotels-Marseille {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 2%;
}

#hotels-most-popular {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1 1 29%;
  padding: 2%;
}

#more {
  font-size: 1rem;
  font-weight: 600;
  color:#000000;
  margin-top: auto;
  padding: 2%;
}

#container-all-hotels h2 {
  padding-left: 2%;
}

/*****************CARD********************/

.content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 25px;
  padding: 20px 0;
}

.link-Marseille {
 width: 30%;
 display: flex;
 aspect-ratio: 4/3;
}

.card-Marseille {
  width: 100%;
  aspect-ratio: 4/3;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px gainsboro;
}

.img-Marseille {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 3px;
  box-sizing: border-box;
}

.card-Marseille h3, .card-Marseille p {
  margin: 0;
  padding: 1%;
  padding-left: 7%;
}

/********************************************MOST POPULAR*************************************/

.title-most-popular {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.results-most-popular {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

.link-popular {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 40%;
}

.content-card-popular {
  display: flex;
  width: 100%;
  aspect-ratio: 3/1;
}

.img-popular {
  width: 33%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 15px 0 0 15px;
}

.text-popular {
  display: flex;
  flex-direction: column;
}

.text-popular .stars-popular {
  margin-top: auto;
  padding-bottom: 5%;
}

.text-popular h3, .text-popular p {
  margin: 0;
  padding: 5%;
}

/************LIENS*************/

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
}

a:visited {
  color: #000000;
}

/*****CLICK EFFECT*****/

.link-Marseille:hover, .link-popular:hover {
  opacity: 0.7;
}


/********************STARS********************/

.fa-star {
  color: #0065FC;
}

.rating {
  color: #DBDBDB;
}

.title {
  color: black;
}

/**********************************************ACTIVITIES**************************************/

#activities {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
}

#results-activities {
  display: flex;
  box-sizing: border-box;
  gap: 3%;
  margin-top: 10px;
  min-height: 100%;
}

.link-activities {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
}

.card-activities {
  width: 100%;
  height: 100%;
}

.card-activities-2 {
  width: 100%;
}

.img-activities {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
}

#activities h3 {
  padding-left: 10px;
  margin-bottom: auto;
}

/***DUO***/

.duo-card-activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 25%;
  gap: 30px;
}

.link-activities-2 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  
}

.duo-card-activities .img-activities {
  height: 80%;
  object-fit: cover;
  width: 100%;
}


/************************************************FOOTER*****************************************/

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
}

.footerblock {
  padding: 30px;
  flex-basis: 30%;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
}

footer li {
  margin-bottom: 10px;
}

/******* MEDIA QUERY *******/

/*medium devices-tablets*/
@media screen and (max-width:992px) {
  #filters {
    width: 100%;
  }
  #main-nav a:hover {
    color: #0065FC;
    border-bottom: 2.5px #0065FC solid;
    padding-bottom: 30px;
    border-top: none;
  }
}

/*small devices-iphone8*/
@media screen and (max-width:768px) {

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  h3 {
    font-size: 0.8rem;
  }
  #filters h3 {
    font-size: 1.1rem;
  }

  /*header*/
  #container-header {
    flex-direction: column;
    margin: 0;
  }
  #logo {
    margin: auto;
    width: 30%;
  }
  #logo img {
    width: 100%;
  }
  #main-nav {
    justify-content: space-around;
  }
  #main-nav ul {
    padding-left: 0;
  }
  #main-nav a {
    flex-basis: 50%;
  }

  /*search*/
  #container-search {
    margin: 0 30px;
  }
  #search-btn {
    display: none;
  }
  #search-btn::after {
    font-family: "FontAwesome";
    content: "\f002";
  }

  /*filters*/
  #filters {
    flex-wrap: wrap;
  }
  #filters h3 {
    width: 100%;
  }
  .filters-item {
    margin-right: 12px;
    margin-bottom: 10px;
  }

  /**all hotels**/
  #container-all-hotels {
    flex-direction: column-reverse;
    margin: 0;
  }
  #hotels-Marseille, #hotels-most-popular {
    border-radius: 0;
  }
  /*Marseille*/
  #hotels-Marseille {
    margin: 0 15px;
  }

  #hotels-Marseille {
    background-color: transparent;
  }
  .content-card {
    flex-direction: column;
    flex-wrap: nowrap
  }
  .link-Marseille {
    width: 100%;
  }

  /*popular*/
  .title-most-popular {
    margin: 0 15px;
  }
  .title {
    font-size: 1.3rem;
  }
  .results-most-popular {
    margin: 0 15px;
  }
  #more {
    font-size: 1.1rem;
    font-weight: bold;
  }

  /*activities*/
  #activities {
    margin: 0 20px;
  }
  #results-activities {
    flex-direction: column;
  }

  /*footer*/
  footer {
    flex-direction: column;
    margin-top: 40px;
  }
  footer h3 {
    font-size: 1.1rem;
  }
  footer a {
    font-size: 1rem;
  }
  .footerblock {
    padding-bottom: 0;
  }

}

/*********************************NORMALIZE CSS***********************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/*
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
*/

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}