/*****************************************FONTS, POLICE**************************************/

* {
  font-family: 'Raleway', Raleway, Arial, Helvetica, sans-serif;
}

p {
  font-size: 0.8rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

ul {
  color: black;
  font-size: 0.9rem;
}


/*
@media screen and (max-width: 1280px) {
    /* Rédigez vos propriétés CSS ici */

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: block;
}

/***********************************************HEADER*****************************************/

#container-header {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

#main-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: 500;
}

#logo img {
  width: 27%;
  margin: 30px 0 20px 0;
  padding: 0;
}

nav ul {
    list-style-type: none;
    display:  flex;
}

#main-nav a {
  padding: 0 25px;
}

#main-nav a:hover {
  color: #0065FC;
  border-top: 2.5px #0065FC solid;
  padding-top: 30px;
}

/******************************************SEARCH**********************************************/

#container-search {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
}

#intro {
  display: flex;
  flex-direction: column;
}

#intro h1 {
  margin-bottom: 0.5px;
}

#intro p {
  margin-top: 3px;
}

/************SEARCHBOX******************************/


#searchbox {
  display: flex;
  align-items: center;
}

#searchbox .fa-location-dot {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding: 13px;
}

#search-form {
  color: #F2F2F2;
}

input {
  height: 38px;
  border: 2px solid #F2F2F2;
  outline: none;
  font-weight: bold;
  padding-left: 10px;
}

input::placeholder {
  font-weight: bold;
}

label {
  display: none;
  border: solid 1px #F2F2F2;
  padding: 13px 60px 13px 13px;
  font-weight: bold;
  color: black;
}

#search-btn {
  background-color: #0065FC;
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 12.5px;
  border: 2px solid #0065FC;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.icon-search {
  display: none;
}

/**********FILTERS**********************/

#filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#filters i {
  color: #0065FC;
  background-color: #DEEBFF;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  line-height: 18px;
  position: relative;
  right: 10px;
}

.filters-item {
  display: flex;
  align-items: center;
  border: 2.5px solid #F2F2F2;
  border-radius: 25px;
  padding: 0.5px 5px 1px 1px;
  cursor: pointer;
}

.filters-item p {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  padding: 0 10px 0 0;
  margin: 7px;
}

.filters-item i {
  align-items: flex-end;
}

#filters h3 {
  font-size: 0.9rem;
}

/***CLICK EFFECT***/

#filters i:hover {
  color: pink;
}

.filters-item:hover {
  position: relative;
  bottom: 3px;
  box-shadow: 3px 3px 10px gainsboro;
}

/*******************INFO*************************/

#info {
  display: flex;
  align-items: baseline;
}

#info i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  font-size: 10px;
  font-weight: 700;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  line-height: 2px;
  align-self: baseline;
}

#info p {
  display: flex;
  margin-left: 6px;
  align-items: flex-end;
  margin-bottom: 30px;
}

/**********************************************HOTELS*****************************************/

#container-all-hotels {
  margin: 0 40px;
  display: flex;
  gap: 30px;
  min-height: 100%;
}

#hotels-Marseille, #hotels-popular {
  background-color: #F2F2F2;
  border-radius: 15px;
}

#hotels-Marseille {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  padding: 20px;
}

#hotels-popular {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1 1 25%;
  padding: 20px;
}

#more {
  font-size: 1rem;
  font-weight: 600;
  color:#000000;
  margin-top: auto;
  padding: 20px;
}

#container-all-hotels h2 {
  padding-left: 20px;
}

/*****************CARD********************/

.results-Marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 25px;
  margin: 20px 0;
}

.link-Marseille {
 width: 30%;
 display: flex;
 aspect-ratio: 4/3;
}

.card-Marseille {
  width: 100%;
  aspect-ratio: 4/3;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px gainsboro;
}

.img-Marseille {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 3px;
  box-sizing: border-box;
}

.text-Marseille {
  display: flex;
  flex-direction: column;
}

.card-Marseille h3, .card-Marseille p {
  margin: 0;
  padding: 2px;
  padding-left: 15px;
}


/********************************************MOST POPULAR*************************************/

.title-popular {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.results-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px 0;
  height: 100%;
}

.link-popular {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 40%;
}

.card-popular {
  display: flex;
  width: 100%;
  aspect-ratio: 3/1;
}

.img-popular {
  width: 33%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 15px 0 0 15px;
}

.text-popular {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.text-popular .stars-popular {
  margin-top: auto;
  padding-bottom: 15px;
}

.text-popular h3, .text-popular p {
  margin: 0;
  padding: 15px 0 0 15px;
}

/************LIENS*************/

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
}

a:visited {
  color: #000000;
}

/*****CLICK EFFECT*****/

.link-Marseille:hover, .link-popular:hover {
  opacity: 0.7;
}


/********************STARS********************/

.fa-star {
  color: #0065FC;
}

.rating {
  color: #DBDBDB;
}

.title {
  color: black;
  padding-right: 20px;
}

/**********************************************ACTIVITIES**************************************/

#activities {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
}

#results-activities {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
  margin-top: 10px;
  min-height: 100%;
}

.link-activities {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  height: 400px;
}

.card-activities {
  width: 100%;
  height: 100%;
}

.card-activities-2 {
  width: 100%;
}

.img-activities {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
}

#activities h3 {
  padding-left: 10px;
  margin-bottom: auto;
}

/***DUO***/

.duo-card-activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 25%;
  gap: 30px;
  height: 400px;
}

.link-activities-2 {
  flex-basis: 50%;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px gainsboro;
  display: flex;
  height: 175px;
  
}

.duo-card-activities .img-activities {
  height: 80%;
  object-fit: cover;
  width: 100%;
}


/************************************************FOOTER*****************************************/

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
}

.footerblock {
  padding: 30px;
  flex-basis: 30%;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
}

footer li {
  margin-bottom: 10px;
}

/******* MEDIA QUERY *******/

/*medium devices-tablets*/
@media screen and (max-width:992px) {
  #filters {
    width: 100%;
  }
}

/*small devices-iphone8*/
@media screen and (max-width:768px) {

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  h3 {
    font-size: 0.8rem;
  }
  #filters h3 {
    font-size: 1.1rem;
  }

  /*header*/
  #container-header {
    flex-direction: column;
    margin: 0;
  }
  #logo {
    margin: auto;
    width: 25%;
  }
  #logo img {
    width: 100%;
  }
  #main-nav {
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }
  #main-nav ul {
    padding-left: 0;
    margin-top: 0;
  }
  #main-nav li {
    display: flex;
  }
  #main-nav a {
    display: flex;
    border-bottom: 3px solid #F2F2F2;
    padding: 0 60px;
    padding-bottom: 15px;
  }
  #main-nav a {
    flex-basis: 50%;
  }
  #main-nav a:hover {
    color: #0065FC;
    border-bottom: 2.5px #0065FC solid;
    padding-bottom: 30px;
    border-top: none;
  }

  /*search*/
  #container-search {
    margin: 0 30px;
  }
  #search-btn {
    display: none;
  }
  .icon-search {
    display: normal;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 13px;
  }
  #searchbox {
    width: 100%;
  }

  /*filters*/
  #filters {
    flex-wrap: wrap;
  }
  #filters h3 {
    width: 100%;
  }
  .filters-item {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  /**all hotels**/
  #container-all-hotels {
    flex-direction: column-reverse;
    margin: 0;
  }
  #hotels-Marseille, #hotels-popular {
    border-radius: 0;
  }
  #hotels-popular {
    padding: 0;
    padding-top: 20px;
  }

  /*Marseille*/
  #hotels-Marseille h2 {
    margin-top: 0;
  }

  #hotels-Marseille {
    background-color: transparent;
    padding-top: 0;
  }
  .results-Marseille {
    flex-direction: column;
    flex-wrap: nowrap
  }
  .link-Marseille {
    width: 100%;
  }
  .card-Marseille {

  }

  /*popular*/

  .title {
    font-size: 1.3rem;
  }
  .link-popular {
    
  }
  #more {
    font-size: 1.1rem;
    font-weight: bold;
  }

  /*activities*/
  #activities {
    margin: 0 20px;
  }
  #results-activities {
    flex-direction: column;
  }
  .duo-card-activities {
    flex-basis: auto;
  }
  .link-activities {

  }

  /*footer*/
  footer {
    flex-direction: column;
    margin-top: 40px;
  }
  footer h3 {
    font-size: 1.1rem;
  }
  footer a {
    font-size: 1rem;
  }
  .footerblock {
    padding-bottom: 0;
  }

}
